// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ios {
    --ion-background-color: #223a7e;
    --ion-toolbar-background: #414549;
    --ion-tab-bar-background: #414549;
}

.md {
    --ion-background-color: #223a7e;
    --ion-toolbar-background: #414549;
    --ion-tab-bar-background: #414549;
}

.picker-opt {
    color: white !important;
}

ion-title {
    color: var(--ion-color-light);
    width: 100%;
    text-align: center;
}

ion-tab {
    --color: white;
}

ion-content {
    --ion-text-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

ion-footer {
    color: var(--ion-color-light);
}

* {
    --knob-background: white;
}