<ion-header>
  <ion-toolbar>
    <ion-title>Sleep Logger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-list lines="full">
    <ion-list-header>Log Your Sleepiness:</ion-list-header>
    <ion-item>
        <ion-range [(ngModel)]="sleep_rating" pin="true" snaps="true" min="1" max="7" step="1">
          <ion-icon slot="start" name="happy"></ion-icon>
          <ion-icon slot="end" name="sad"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        Reason for rating (optional):
      </ion-item>
      <ion-item>
        <ion-input clearInput value="" [(ngModel)]="sleep_reason"></ion-input>
      </ion-item>

  </ion-list>

  <ion-grid>
      <ion-row>
          <ion-col align-self-start>
            </ion-col>
          <ion-col align-self-center>
              <ion-button size="large" color="tertiary" (click)="logSleepData()">Log Sleepiness</ion-button>
          </ion-col>
          <ion-col align-self-end>
            </ion-col>
      </ion-row>
  </ion-grid>

  <ion-list-header>Most Recent Log:</ion-list-header>

  <ion-card color="medium" *ngIf="previousLog == undefined">
      <ion-card-content>
          <br>
          <br>
          <br>
        </ion-card-content>
    </ion-card>

  <ion-card color="medium" *ngIf="previousLog !== undefined">
      <ion-card-content>
          <strong>Log Time:</strong> {{previousLog.dateString()}}<br>
          <strong>Rating logged:</strong> {{previousLog.summaryString()}}<br>
          <strong>Reason:</strong> {{previousLog.sleepReasonString()}}<br>
        </ion-card-content>
    </ion-card>

  <ion-list class="rating_table" lines="full">
      <ion-item>
          <ion-col class="list_head">Scale Rating</ion-col>
          <ion-col class="list_head">Degree of Sleepiness</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>1</ion-col>
        <ion-col>Feeling active, vital, alert, or wide awake</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>2</ion-col>
        <ion-col>Functioning at high levels, but not at peak; able to concentrate</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>3</ion-col>
        <ion-col>Awake, but relaxed; responsive but not fully alert</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>4</ion-col>
        <ion-col>Somewhat foggy, let down</ion-col>
      </ion-item>
      <ion-item>
          <ion-col>5</ion-col>
          <ion-col>Foggy; losing interest in remaining awake; slowed down</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>6</ion-col>
        <ion-col>Sleepy, woozy, fighting sleep; prefer to lie down</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>7</ion-col>
        <ion-col>No longer fighting sleep, sleep onset soon; having dream-like thoughts</ion-col>
      </ion-item>
      
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-tabs>
          <ion-tab tab="log-overnight-data"></ion-tab>
          <ion-tab tab="log-sleepiness-data"></ion-tab>
          <ion-tab tab="view-logged-data"></ion-tab>
        
          <ion-tab-bar slot="bottom">
        
              <ion-tab-button tab="log-overnight-data" href="home">
                  <ion-icon name="moon"></ion-icon>
                <ion-label color="light">Log Overnight Sleep</ion-label>
              </ion-tab-button>
    
              <ion-tab-button tab="log-sleepiness-data" href="log-sleepiness">
                  <ion-icon name="happy"></ion-icon>
                  <ion-label color="light">Log Sleepiness</ion-label>
                </ion-tab-button>
          
                <ion-tab-button tab="view-logged-data" href="ViewLoggedData">
                    <ion-icon name="journal"></ion-icon>
                  <ion-label color="light">View Logs</ion-label>
                </ion-tab-button>
        
          </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
