ion-list-header {
    color: var(--ion-color-light);
    font-size: 25px !important;
    text-align: center;
}

ion-card-header {
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}